form {
  margin: auto;
}

input, button {
  margin: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 18px;
  border-radius: .5em;
}

@media screen and (max-width: 375px) {
  input, button {
    width: 113px;
  }
}